//vars to use

$from--left: -50px;
$from--right: 50px;



// class animations (for Intersection obs)

.center-fadeIn {
    transform: translateX(0);
    opacity: 1;
    transition: transform 2s, opacity 2s;
}

.rotate {
    transform: rotate(180deg);
    transition: transform 4s ease-in;
}

//KEYFRAMES
// wave animation
@keyframes wave {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-5%);
    }
}

// title entrance
@keyframes title {
    from {
        opacity: 0;
        letter-spacing: normal;

    }
    to {
        opacity: 1;
        letter-spacing: .1rem;
    }
}

// marker effect
@keyframes color-change {
    to{
       color: #f84646; 
    }
}

@keyframes boat-move {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1deg);
    }
}


@keyframes zoom-bg {
    0% {
      background-size: 100%;
  
    }
    50% {
      background-size: 110%;
    }
    100% {
      background-size: 100%;
    }
  }

  @keyframes move-arm {
    0% {
      transform: rotate(-50deg) translateX(-60px);
    }
    50% {
      transform: rotate(-90deg) translateX(-80px);
    }
    100% {
      transform: rotate(-80deg) translateX(-80px);
    }

}

@keyframes eyes-blink {
    0% { transform:scaleY(1) }
    15% { transform:scaleY(1) }
    20% { transform:scaleY(0) }
    25% { transform:scaleY(1) }
    38% { transform:scaleY(1) }
    40% { transform:scaleY(0) }
    45% { transform:scaleY(1) }
    80% { transform:scaleY(1) }
}
