@import "colors";

// reduced motion
@media (prefers-reduced-motion) {
}

// color-scheme
@media (prefers-color-scheme: dark) {
  .sky-container {
      background: linear-gradient(180deg, $background__secondary--dark 0%, $background__primary--dark 100%); ;
      &__clouds {
          opacity: 0.5;
      }
  }
  .section1__wrapper {
      background: $background__primary--dark;
  }
  
  //waves -->
  //text -->
}

  // orientation
@media screen and (max-width: 600px) and (orientation: portrait) {
  
}

@media screen and (max-width: 800px) and (orientation: landscape) {

}
