
// reduced motion
@media (prefers-reduced-motion) {

  .intro__title {
    animation: unset;
}
  // changed to only opacity change
  .center-fadeIn {
    opacity: 1;
    transition: opacity 2s;
}
// reduced arm motion
.right-arm {
  animation: move-arm 10s ease infinite alternate;
}
// bird speed
.bird{
  animation: bird 70s infinite;
}
.bigGarbage{
  animation: spin-scale 70s infinite alternate;
}
.oil_1 {
  animation: oil_1 15s linear infinite;
}

.oil_2{
  animation: oil_2 18s linear infinite;
}

.oil_3{
  animation: oil_3 12s linear infinite ;
}
}

// color-scheme
  @media (prefers-color-scheme: dark) {
    .intro {
        background: linear-gradient(180deg, $background__secondary--dark 0%, $background__primary--dark 100%); ;
        &__clouds {
            opacity: 0.5;
        }
    }
    .scene__wrapper {
        background: $background__primary--dark;
    }

    .side__box {
      background: $background__primary--dark;
      
    }
    .side__inner {
      color: $text__primary--dark;    
    }

    .scene__wave--one, .scene__wave--two, .scene__wave--three {
      fill: $waves--dark;
    }

    .scene__fish-container {
      background: linear-gradient(180deg, $underSea__dark--one 0%, $underSea__dark--two 100%);
    }
    .learn-more__textbox2 {
      background-color: $background__primary--dark;
      color: $text__primary--dark;
    }

  }

  // orientation portrait will ask to switch to landscape
@media (orientation: portrait) {

main, footer {
  display: none;
}

.portrait-info, .portrait-info * {
  display: flex !important;
}
}

@media (orientation: landscape) {
  .portrait-info, .portrait-info * {
    display: none;
  }

}


// preferred orientation for the story for screens less than 950px
@media screen and (max-width: 950px) and (orientation: landscape) {

  .intro__title {
    font-size: 3.2rem;

  }
  .intro__heading {
    padding-top: 10rem;
    
  }
  .intro__para {
    margin-top: 5em;
    width: 150px;
    font-size: 1rem;
  }

  .contain {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0;
}
  .portrait-info, .portrait-info * {
    display: none;
  }
  
  .intro {
    min-height: 700vh;
  }
  .intro__text {
    font-size: 2rem
  }
  .intro__clouds img{ //want to include more of the clouds in the viewport here..
    max-width: 60%;
    max-height: 60%;
  }

  .scene__island {
    max-width: 500px;
  }
  .scene__man {
    left: 30em;
  }
  .scene__bottle {
    left: 32em;
  }

  .scene__boat {
    left: 25em;
    max-width: 300px;
  }
  .side__inner {
    font-size: 1.2rem;
    margin: 0 10%;
  }
  .scene__cup {
    left: 23em;
  }
.scene__question-marks {
    bottom: 14em;
    left: 7em;
}
.scene__bulb-idea {
  bottom: 15em;
  left: 8em;
}
.scene__co2-wrap {
  position: absolute;
  left: -5em;
  bottom: 1em;
  transform: scale(0.8);
}
  .actions h2 {
    font-size: 1.2rem;
    margin-top: 2em;
  }
  .actions__man {
    position: relative;
    width: 25%;
    left: 1em;
    bottom: 18em;
    margin: 0;
  }
  .actions__text {
    font-size: 1rem;
    padding: .4em;
  }

  li::before {
    display: none;
  }

  .scene__fish-container {
    width: 100%;
  }

  .marine {
    margin: 2em;
  }
  .scene__fish-container > * {
    transform: scale(0.5);
  }
  .scene__deadfish1 {
    left:10em;
  }

  .oil {
    left: 0;
  }
  .garbage-wrapper {
    position: relative;
    top: 5em;
    left: -10em;
  }

  .learn-more__textbox2 {
    width: 280px;
    height: 140px;
    font-size: 1em;
    margin-left: 2em;
    margin-top: 1em;
  }
  .learn-more__man_2 {
    transform: scale(1.2);
    margin: 0;
}

}