@import "colors";

// reduced motion
@media (prefers-reduced-motion) {
}

// color-scheme
  @media (prefers-color-scheme: dark) {
    .intro {
        background: linear-gradient(180deg, $background__secondary--dark 0%, $background__primary--dark 100%); ;
        &__clouds {
            opacity: 0.5;
        }
    }
    .scene__wrapper {
        background: $background__primary--dark;
    }

    .textboxes__box {
      background-color: $background__primary--dark;
    }
    
    //waves -->
    //text -->
  }

  // orientation portrait will ask to switch to landscape
@media screen and (max-width: 500px) and (orientation: portrait) {

main {
  display: none;
}

}


// preferred orientation for the story for screens less than 950px
@media screen and (max-width: 950px) and (orientation: landscape) {
  
  .intro {
    min-height: 700vh;
  }

  .intro__text {
    font-size: 2rem
  }

  .intro__clouds img{ //want to include more of the clouds in the viewport here..
    max-width: 60%;
    max-height: 60%;
  }

  .scene__island {
    max-width: 500px;
  }

  .scene__man {
    left: 30em;
  }
  .scene__bottle {
    left: 32em;
  }

  .scene__boat {
    left: 25em;
    max-width: 300px;
  }

}

