@mixin flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*

@mixin marker-effect {
    position: absolute;
    background-color: rgb(241, 60, 60);
    width: 100%;
    height: 100%;
    z-index: -1;
}

@mixin marker-wrap {
    overflow: hidden;
    display: inline-block;
    position: relative; 
}

*/
