* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro {
    width: 100%!important;
    height: 200vh !important;
    background: linear-gradient(180deg, rgb(0, 25, 39) 0%, rgb(117, 191, 255) 100%);
    overflow: hidden;

    &__container {
        position: absolute;
    }

    &__heading {
        text-align: center;
        position: relative;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: aliceblue;
    }
    &__title {
        font-size: 7rem;
        font-family: 'Nixie One', cursive;      
    }
    &__para {
        font-size: 1.2rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 10em;
        border: 4px solid aliceblue;
        padding: 15px;
        border-radius: 10px;
    }
    &__cloud--one {
        position: relative;
        top: 55em;
        left: 10em;
    }
    &__cloud--two {
        position: relative;
        top: 65em;
        right: 50em;
    }
    &__cloud--three {
        position: relative;
        top: 75em;
        left: 80em;
    }
    &__cloud--four {
        position: relative;
        top: 85em;
        right: -5em;
    }
    &__cloud--five {
        position: relative;
        top: 95em;
        left: 15em;
    }
}
 section {
    height: 100vh;
    width: 100%;
    background-color: rgb(32, 52, 83); 
}


// waves

.ocean {
    &::before {
        display: block;
        content: "";
        height: 200vh;
    }
    &__wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(117, 191, 255);
    overflow: hidden;
    position: sticky;
    bottom: 0em;
    }
    &__waves {
        position:absolute;
        left: -10em;
        bottom: -10px;
        animation: wave linear 10s infinite;
    }
}


@keyframes wave {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-10%);

    }
}


@media screen and (max-width: 600px) {

  }