@import "colors";
@import "mixins";
@import "animations";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    font-family: 'Nunito', sans-serif;
    color: $text__primary;
}

.intro {
    width: 100%;
    min-height: 400vh;
    background: linear-gradient(180deg, $darkblue 0%, $skyblue 100%);
    overflow: hidden;

    &__container {
        position: absolute;
    }

    &__heading {
        @include flex;
        color: $text__secondary;
        padding-top: 15em;
    }
    &__title {
        font-size: 7rem;
        font-family: 'Nixie One', cursive; 
        animation: title 2s linear forwards;     
    }
    &__para {   
        width: 200px;
        font-size: 1.2rem;
        margin-top: 8em;
        border: 4px solid #f0f8ff;
        padding: 15px;
        border-radius: 10px;
    }
    &__texts {
        @include flex;
        &--one { // intersection observer on this
            color: $text__secondary;
            max-width: 500px;
            position: absolute;
            top: 25em;
            line-height: 4rem;
            font-size: 2.4rem;  
            font-weight: 600;
            opacity: 0;
            transform: translateX($from--left);
            span {
                animation: color-change 2s ease-in infinite alternate;
            }
        }   
        &--two {
            color: $text__secondary;
            padding: 0 2em 0 2em;
            line-height: 4rem;
            font-size: 2.4rem;
            font-weight: 600;
            position: absolute;
            top: 55em;
            opacity: 0;
            transform: translateX($from--right);
        }
    }
    &__clouds {
        &--one {
        position: relative;
        top: 50em;
        left: 10em;
        }

        &--two {
        position: relative;
        top: 65em;
        right: 50em;
        }

        &--three {
        position: relative;
        top: 85em;
        left: -90em;
        }

        &--four {
        position: relative;
        top: 85em;
        right: -50em;
    }
        &--five {
        position: relative;
        top: 110em;
        left: 10em;
        }
    }
}
 section {
    height: 100vh;
    width: 100%;
    background-color: rgb(32, 52, 83); 
}

// waves
.scene {
    &::before {
        display: block;
        content: "";
        height: 1200vh; //regulates the vertical scroll
    }
    &__wrapper {
    background: $skyblue;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: sticky;
    bottom: 0em;
    }
&__ocean {
    position:absolute;
    left: -5em;
    bottom: -10px;
    animation: wave linear 5s infinite alternate;
    }

&__beach {
    position: absolute;
    z-index: 2;
    bottom: -4em;
    left: -3em;
    min-width: 480px;
        
}
&__boat {
    position: absolute;
    bottom: 6em;
    right: 20em;
    z-index: 2;
    animation: boat-move 1s linear infinite alternate;
}
&__man {
    position: absolute;
    bottom: 11em;
    left: 40em;
}
&__bottle {
    position: absolute;
    bottom: 15.5em;
    left: 43em;
    z-index: 2;
}
}

