* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    font-family: 'Nunito', sans-serif;
}

.intro {
    width: 100%;
    min-height: 300vh;
    background: linear-gradient(180deg, rgb(0, 25, 39) 0%, rgb(117, 191, 255) 100%);
    overflow: hidden;

    &__container {
        position: absolute;
    }

    &__heading {
        text-align: center;
        position: relative;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: aliceblue;
    }
    &__title {
        font-size: 7rem;
        font-family: 'Nixie One', cursive; 
        animation: title 2s linear forwards;     
    }
    &__para {
        font-size: 1.2rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 10em;
        border: 4px solid aliceblue;
        padding: 15px;
        border-radius: 10px;

        i {
            margin-left: 10px;
        }
    }
    &__clouds {
        &--one {
        position: relative;
        top: 50em;
        left: 10em;
        }

        &--two {
        position: relative;
        top: 65em;
        right: 50em;
        }

        &--three {
        position: relative;
        top: 85em;
        left: -90em;
        }

        &--four {
        position: relative;
        top: 85em;
        right: -50em;
    }
        &--five {
        position: relative;
        top: 110em;
        left: 10em;
        }
    }
}
 section {
    height: 100vh;
    width: 100%;
    background-color: rgb(32, 52, 83); 
}

// waves
.ocean {
    &::before {
        display: block;
        background-color: rgb(117, 191, 255);
        content: "";
        height: 400vh;
    }
    &__wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(117, 191, 255);
    overflow: hidden;
    position: sticky;
    bottom: 0em;
    }
    &__waves {
        position:absolute;
        left: -5em;
        bottom: -10px;
        animation: wave linear 5s infinite alternate;

    }
}

.beach {
    position: absolute;
    z-index: 2;
    bottom: -5em;
    left: -3em;
    min-width: 480px;
    max-width: 600px;
}



@media screen and (max-width: 900px) {

    .beach {
        bottom: -2em;
        left: -4em;
    }

    .beach > img {
        width: 95%;
        height: 95%;
    }


  }