/*

@mixin marker-effect {
    position: absolute;
    background-color: rgb(241, 60, 60);
    width: 100%;
    height: 100%;
    z-index: -1;
}

@mixin marker-wrap {
    overflow: hidden;
    display: inline-block;
    position: relative; 
}

*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nixie+One&family=Nunito&display=swap");
.center-fadeIn {
  transform: translateX(0);
  opacity: 1;
  transition: transform 2s, opacity 2s;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 4s ease-in;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5%);
  }
}
@keyframes title {
  from {
    opacity: 0;
    letter-spacing: normal;
  }
  to {
    opacity: 1;
    letter-spacing: 0.1rem;
  }
}
@keyframes color-change {
  to {
    color: #f84646;
  }
}
@keyframes boat-move {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1deg);
  }
}
@keyframes zoom-bg {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 110%;
  }
  100% {
    background-size: 100%;
  }
}
@keyframes move-arm {
  0% {
    transform: rotate(-50deg) translateX(-60px);
  }
  50% {
    transform: rotate(-90deg) translateX(-80px);
  }
  100% {
    transform: rotate(-80deg) translateX(-80px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: #000000;
}

.intro {
  width: 100%;
  min-height: 350vh;
  background: linear-gradient(180deg, #001927 0%, #75bfff 100%);
  overflow: hidden;
}
.intro__container {
  position: absolute;
}
.intro__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #f0f8ff;
  padding-top: 15em;
}
.intro__title {
  font-size: 7rem;
  font-family: "Nixie One", cursive;
  animation: title 2s linear forwards;
}
.intro__para {
  width: 200px;
  font-size: 1.2rem;
  margin-top: 8em;
  border: 4px solid #f0f8ff;
  padding: 15px;
  border-radius: 10px;
}
.intro__texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.intro__texts--one {
  color: #f0f8ff;
  margin: 0 2em 0 2em;
  line-height: 4rem;
  font-size: 2.2rem;
  font-weight: 600;
  position: absolute;
  top: 30em;
  opacity: 0;
  transform: translateX(-50px);
}
.intro__texts--one span {
  animation: color-change 2s ease-in infinite alternate;
}
.intro__texts--two {
  color: #f0f8ff;
  margin: 0 2em 0 2em;
  line-height: 4rem;
  font-size: 2.2rem;
  font-weight: 600;
  position: absolute;
  top: 70em;
  opacity: 0;
  transform: translateX(50px);
}
.intro__clouds--one {
  position: relative;
  top: 50em;
  left: 10em;
}
.intro__clouds--two {
  position: relative;
  top: 65em;
  right: 50em;
}
.intro__clouds--three {
  position: relative;
  top: 85em;
  left: -90em;
}
.intro__clouds--four {
  position: relative;
  top: 85em;
  right: -50em;
}
.intro__clouds--five {
  position: relative;
  top: 110em;
  left: 10em;
}

.contain {
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  gap: 0;
}

.scene {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border: 2px solid green;
}
.scene__wrapper {
  background: #75bfff;
  position: relative;
  width: 100%;
  height: 100%;
}
.scene__ocean {
  position: absolute;
  bottom: -1em;
  left: -2em;
  z-index: 0;
  animation: wave linear 5s infinite alternate;
}
.scene__island {
  position: absolute;
  bottom: -2em;
  left: -5em;
  z-index: 1;
}
.scene__boat {
  position: absolute;
  bottom: 5em;
  left: 38em;
  z-index: 4;
}
.scene__man {
  position: absolute;
  left: 25em;
  bottom: 6em;
  z-index: 2;
}
.scene__bottle {
  position: absolute;
  bottom: 11em;
  left: 28em;
  z-index: 3;
}
.scene__co2--1 {
  position: absolute;
  bottom: 8em;
  left: 10em;
  opacity: 0;
}
.scene__co2--2 {
  position: absolute;
  bottom: 9.5em;
  left: 7em;
  opacity: 0;
}
.scene__co2--3 {
  position: absolute;
  bottom: 12em;
  left: 5em;
  opacity: 0;
}
.scene__island-two {
  position: absolute;
  bottom: -9em;
  right: -47em;
}

.side {
  width: 100%;
}
.side__box {
  background-color: #75bfff;
  height: 150vh;
  scroll-snap-type: y mandatory;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.side__box:last-child {
  height: 100vh;
}
.side__inner {
  transform: translateX(-50px);
  color: rgb(100, 100, 100);
  font-size: 1.7rem;
  margin: 0 20%;
  opacity: 0;
  scroll-snap-align: start;
}
.side__box:nth-child(1) span {
  background-color: #ffc401;
}

.actions {
  background: url(../img/beach-cleaning.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  animation: zoom-bg 30s ease infinite;
  color: #fff;
  display: flex;
  flex-direction: row;
  text-align: left;
}
.actions__man {
  position: relative;
  z-index: 1;
  transform: scale(1.5);
  left: 8em;
}
.actions__text {
  width: 60%;
  font-size: 2em;
  font-weight: 600;
  margin-left: 8em;
  opacity: 0;
  transform: translateX(-50px);
}
.actions__text li {
  margin-top: 2.5em;
  list-style: none;
  text-align: left;
  margin-left: 2em;
}
.actions__text li::before {
  content: url(../img/light-bulb.png);
}
.actions h2 {
  margin-top: 2em;
  margin-left: 5em;
  margin-bottom: 0.5em;
  font-size: 2.5rem;
}

.right-arm {
  transform-origin: 35%;
  animation: move-arm 5s ease infinite alternate;
}

.learn-more {
  z-index: 2;
  background: url(../img/trash-ocean.png) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  animation: zoom-bg 30s ease infinite;
}

.portrait-info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.portrait-info p {
  margin: 0 25%;
  font-size: 1.3rem;
}

#blader {
  animation: blad 3s linear infinite alternate;
}

#blader_2 {
  animation: blad 5s linear infinite alternate;
}

#blader_3 {
  animation: blad 4s linear infinite alternate;
}

#blader_4 {
  animation: blad 4s linear infinite alternate;
}

#blader_5 {
  animation: blad 3s linear infinite alternate;
}

#blader_6 {
  animation: blad 5s linear infinite alternate;
}

#blader_7 {
  animation: blad 5s linear infinite alternate;
}

#blader_8 {
  animation: blad 5s linear infinite alternate;
}

#blader_9 {
  animation: blad 4s linear infinite alternate;
}

#blader_10 {
  animation: blad 6s linear infinite alternate;
}

#blader_11 {
  animation: blad 6s linear infinite alternate;
}

#blader_12 {
  animation: blad 6s linear infinite alternate;
}

#blader_14 {
  animation: blad 6s linear infinite alternate;
}

#blader_15 {
  animation: blad 5s linear infinite alternate;
}

#blader_16 {
  animation: blad 10s linear infinite alternate;
}

#blader_17 {
  animation: blad 10s linear infinite alternate;
}

#blader_18 {
  animation: blad 10s linear infinite alternate;
}

@keyframes blad {
  0% {
    transform: rotate(0deg) translate(0px) skewX(0deg);
  }
  25% {
    transform: rotate(1deg) translate(1px) skewX(0deg);
  }
  75% {
    transform: rotate(0deg) translate(1px) skewX(0deg);
  }
  100% {
    transform: rotate(1deg) translate(0px) skewX(0deg);
  }
}
.fish-container {
  position: absolute;
  width: 100%;
  bottom: -10em;
  height: 100vh;
  background-color: #0693E3;
}

.scene__fish1 {
  position: absolute;
  right: 10rem;
  top: 4rem;
  z-index: 2;
  transform: translateY(100%);
  animation-duration: 40s;
  animation: swim-left 3s linear forwards;
}

.scene__deadfish1 {
  position: absolute;
  z-index: 2;
  left: 480px;
  top: 110px;
  transform: translateY(300deg);
  opacity: 0;
  animation-name: die;
  animation-duration: 20s;
  animation-fill-mode: forwards;
}

@keyframes swim-left {
  0% {
    right: 20vh;
  }
  50% {
    transform: rotate 40em;
    transform: translateY(2em);
  }
  80% {
    transform: translateY(1em);
    transform: scaleY(-1);
    opacity: 1;
  }
  100% {
    right: 55vh;
    transform: translateY(2em) rotate(-8deg);
    transform: scaleY(-1);
    opacity: 0;
  }
}
@keyframes die {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: translateY(-4.7em) rotate(-30deg);
  }
  100% {
    transform: translateY(-2.6em);
    opacity: 2;
  }
}
.garbage {
  position: absolute;
  top: 350px;
  left: 750px;
  animation: garbage 30s linear infinite alternate;
}

.garbage1 {
  position: absolute;
  top: 350px;
  left: 250px;
  animation: garbage 50s linear infinite alternate;
}

.garbage2 {
  position: absolute;
  top: 550px;
  left: 850px;
  animation: garbage 50s linear infinite alternate;
}

.oil {
  position: relative;
  left: 15em;
}

.oil_1 {
  position: absolute;
  top: 30px;
  left: 200px;
  animation: oil_1 10s linear forwards;
}

.oil_2 {
  position: absolute;
  top: 80px;
  left: 400px;
  animation: oil_1 10s linear forwards;
}

.oil_3 {
  position: absolute;
  top: 1px;
  left: 130px;
  animation: oil_1 4s linear forwards;
}

@keyframes oil_1 {
  0% {
    transform: rotate(2em);
  }
  100% {
    transform: translateY(20em);
    opacity: 0;
  }
}
@keyframes oil_2 {
  0% {
    transform: rotate(1em);
  }
  100% {
    transform: translateY(50em);
    opacity: 0;
  }
}
@keyframes oil_3 {
  0% {
    transform: rotate(2em);
  }
  100% {
    transform: translateY(10em);
    opacity: 0;
  }
}
@keyframes garbage {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-50deg);
  }
  100% {
    transform: translateX(-2em);
    opacity: 1;
  }
}
@keyframes garbage1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: translateX(4.7em) rotate(60deg);
  }
  100% {
    transform: translateX(-4.6em);
    opacity: 1;
  }
}
@keyframes garbage2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: translateY(-4.7em) rotate(-10deg);
  }
  100% {
    transform: translateY(-4.6em);
    opacity: 1;
  }
}
.center-fadeIn {
  transform: translateX(0);
  opacity: 1;
  transition: transform 2s, opacity 2s;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 4s ease-in;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-5%);
  }
}
@keyframes title {
  from {
    opacity: 0;
    letter-spacing: normal;
  }
  to {
    opacity: 1;
    letter-spacing: 0.1rem;
  }
}
@keyframes color-change {
  to {
    color: #f84646;
  }
}
@keyframes boat-move {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1deg);
  }
}
@keyframes zoom-bg {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 110%;
  }
  100% {
    background-size: 100%;
  }
}
@keyframes move-arm {
  0% {
    transform: rotate(-50deg) translateX(-60px);
  }
  50% {
    transform: rotate(-90deg) translateX(-80px);
  }
  100% {
    transform: rotate(-80deg) translateX(-80px);
  }
}
@media (prefers-color-scheme: dark) {
  .intro {
    background: linear-gradient(180deg, #010C12 0%, #273953 100%);
  }
  .intro__clouds {
    opacity: 0.5;
  }
  .scene__wrapper {
    background: #273953;
  }
  .textboxes__box {
    background-color: #273953;
  }
}
@media (orientation: portrait) {
  main {
    display: none;
  }
  .portrait-info, .portrait-info * {
    display: flex !important;
  }
}
@media (orientation: landscape) {
  .portrait-info, .portrait-info * {
    display: none;
  }
}
@media screen and (max-width: 950px) and (orientation: landscape) {
  .portrait-info, .portrait-info * {
    display: none;
  }
  .intro {
    min-height: 700vh;
  }
  .intro__text {
    font-size: 2rem;
  }
  .intro__clouds img {
    max-width: 60%;
    max-height: 60%;
  }
  .scene__island {
    max-width: 500px;
  }
  .scene__man {
    left: 30em;
  }
  .scene__bottle {
    left: 32em;
  }
  .scene__boat {
    left: 25em;
    max-width: 300px;
  }
  .side__inner {
    font-size: 1.3rem;
    margin: 0 10%;
  }
  .actions__man {
    transform: scale(0.7);
    bottom: -10em;
  }
  .actions__text {
    transform: scale(0.5);
  }
}
/*

@mixin marker-effect {
    position: absolute;
    background-color: rgb(241, 60, 60);
    width: 100%;
    height: 100%;
    z-index: -1;
}

@mixin marker-wrap {
    overflow: hidden;
    display: inline-block;
    position: relative; 
}

*//*# sourceMappingURL=index.css.map */